* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }

.header {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 80px;
}

.header img {
    padding-top: 5px;
    width: auto;
    height: 80px;
    border-radius: 20px;
}

ul {
    font-size: 18px;
    color: #e5e6eb;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.first  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 80px;
}

.first-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.column {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    width: 500px;
    margin-right: 55px;
}

.text {
    padding-bottom: 10px;
}

button {
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 6px 15px;
    width: 100px;
}

.first-image {
    width: 650px;
}

/* second section */

.second {
    padding: 30px;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 50px;
    text-align: center;
}

.second-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.container img {
    display: flex;
    height: 200px;
    width: 250px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.card {
    width: 250px;
}

/* third section */

.third {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-left: 500px;
    padding-top: 10px;
}

/* forth section */

.fourth {
    padding: 100px 100px;
    display: flex;
    justify-content: center;
}

.blue-box {
    width: 1000px;
    padding: 40px 80px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action {
    font-size: 18px;
    font-weight: bold;
}

.blue-box button {
    border: 1px solid white;
}

/* footer */

.footer {
    background-color: #1f2937;
    color: white;
    font-size: small;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}