* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: #1f2937; */
  }

.header {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 80px;

}

ul {
    font-size: 18px;
    color: #e5e6eb;
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.first  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 80px;
}

.first-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.column {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    width: 500px;
    margin-right: 55px;
}

/* Can't figure out how to get the damn button not to shrink 

.button {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    min-width: 25%;
} */

button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 50px;
    padding: 10px 20px;
    width: 25%;
    flex-shrink: 0;
}

.first-image {
    width: 450px;
}


/* some random information section */

.container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px;
}

.second-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.container img {
    display: flex;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    border: #3882f6;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.card p {
    justify-content: center;
}